*,
*:before,
*:after {
  box-sizing: border-box; }

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6c78a9;
  height: 100vh;
  margin: 0;
  overflow: hidden; }

.rain__drop {
  animation-delay: calc(var(--d) * 1s);
  animation-duration: calc(var(--a) * 3s);
  /* Adjust the duration value as desired */
  animation-iteration-count: infinite;
  animation-name: drop;
  animation-timing-function: linear;
  height: 30px;
  left: calc(var(--x) * 1%);
  position: absolute;
  top: calc((var(--y) + 50) * -1px); }

.rain__drop path {
  fill: #a1c6cc;
  opacity: var(--o);
  transform: translateY(0);
  transform-origin: center bottom; }

@keyframes drop {
  0% {
    opacity: 0;
    transform: translateY(-100vh) scaleY(0); }
  90% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: translateY(100vh) scaleY(1.5); } }

#shrink-button {
  position: absolute;
  top: 50%;
  right: -7%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: #343434;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  transition: transform 0.5s;
  color: #e7e7e7;
  font-size: 200%; }

.task-window.shrink {
  grid-template-columns: 2% 98%; }

.task-window.shrink .Pages *:not(.shrink-button) {
  display: none; }

.task-window.shrink .Pages .shrink-button {
  display: block; }

#shrink-button.flipped {
  transform: translateY(-50%) rotate(180deg); }

.home-button,
.courses-button {
  position: relative;
  background-color: #4CAF50;
  height: 8%;
  width: 70%;
  color: #fff;
  border: none;
  text-align: left;
  font-size: 150%;
  margin-top: 10%;
  margin-right: 10%;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.3s;
  overflow: hidden; }

.home-button.active {
  background-color: #2E8B57; }

.home-button:hover,
.courses-button:hover {
  background-color: #388E3C; }

.home-button:active,
.courses-button:active {
  transform: translateY(1px); }

.home-button.active,
.home-button:hover,
.courses-button.active,
.courses-button:hover {
  background-color: #2E8B57;
  width: 80%;
  /* Adjust the width as per your preference */ }

.Task-Container,
.Course-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; }

.hover-panel {
  width: 100%;
  height: 100%;
  position: relative;
  perspective: 800px;
  cursor: pointer; }

.panel {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  transform-style: preserve-3d;
  transition: transform 0.5s ease;
  transform-origin: top center;
  z-index: 2; }

.hover-panel:hover .panel {
  transform: rotateX(180deg); }

.create-task-button {
  width: 100%;
  height: 100%;
  background-color: #00cc00;
  color: #ffffff;
  border: none;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0 .2em gray;
  cursor: pointer;
  transition: background-color 0.3s ease; }

.create-task-button:hover {
  background-color: #009900; }

.create-task-button:active {
  box-shadow: none;
  position: relative;
  top: .2em; }

.add-course-button {
  width: 100%;
  height: 100%;
  background-color: #ff9900;
  color: #ffffff;
  border: none;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: background-color 0.3s ease;
  padding-left: 10px;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  box-shadow: 0 .2em gray; }

.hover-panel:hover .add-course-button {
  background-color: #ff8000; }

.add-course-button:active {
  box-shadow: none;
  position: relative;
  top: .2em; }

.task-window {
  background: #e7e7e7;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 20% 80%;
  transition: grid-template-columns 0.5s ease;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  width: 70%;
  height: 80%;
  z-index: 1; }

.Pages {
  background-color: #343434;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 5%;
  transition: width 0.5s; }

.Title-Tasks,
.Title-Courses {
  position: relative; }

.Title-Tasks p,
.Title-Courses p {
  font-size: 300%;
  margin: 0; }

.Title-Tasks::after,
.Title-Courses::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: black; }

.right-content {
  width: 100%;
  height: 100%;
  display: grid;
  grid: "header" 10% "main" 85% "footer" 5% / 1fr; }

.Title-Courses {
  display: none; }

.Courses {
  display: none; }

.Course-Adder {
  display: none; }

@media screen and (max-width: 1500px) {
  .task-window {
    width: 100%;
    height: 100%; } }
