*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6c78a9;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.rain__drop {
  animation-delay: calc(var(--d) * 1s);
  animation-duration: calc(var(--a) * 3s); /* Adjust the duration value as desired */
  animation-iteration-count: infinite;
  animation-name: drop;
  animation-timing-function: linear;
  height: 30px;
  left: calc(var(--x) * 1%);
  position: absolute;
  top: calc((var(--y) + 50) * -1px);
}

.rain__drop path {
  fill: #a1c6cc;
  opacity: var(--o);
  transform: translateY(0);
  transform-origin: center bottom;
}

@keyframes drop {
  0% {
    opacity: 0;
    transform: translateY(-100vh) scaleY(0);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(100vh) scaleY(1.5);
  }
}
#shrink-button {
  position: absolute;
  top: 50%;
  right: -7%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: #343434;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  transition: transform 0.5s;
  color: #e7e7e7;
  font-size: 200%;
}

.task-window.shrink {
  grid-template-columns: 2% 98%;
}

.task-window.shrink .Pages *:not(.shrink-button) {
  display: none;
}

.task-window.shrink .Pages .shrink-button {
  display: block;
}

#shrink-button.flipped {
  transform: translateY(-50%) rotate(180deg);
}

.home-button {
  position: relative;
  background-color: #4CAF50;
  height: 8%;
  width: 70%;
  color: #fff;
  border: none;
  text-align: left;
  font-size: calc(1vw + 1vh);
  margin-top: 10%;
  margin-right: 10%;
  transition-duration: 0.4s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.home-button.active {
  background-color: #2E8B57;
}

.home-button:hover,
.courses-button:hover {
  background-color: #388E3C;
}

.home-button:active,
.courses-button:active {
  transform: translateY(1px);
}

.home-button.active,
.home-button:hover,
.courses-button.active,
.courses-button:hover {
  background-color: #2E8B57;
  width: 80%;
}

.Task-Container,
.Course-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.hover-panel {
  width: 100%;
  height: 100%;
  position: relative;
  perspective: 800px;
  cursor: pointer;
}

.panel {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  transform-style: preserve-3d;
  transition: transform 0.5s ease;
  transform-origin: top center;
  z-index: 2;
}

.hover-panel:hover .panel {
  transform: rotateX(180deg);
}

.create-task-button {
  width: 100%;
  height: 100%;
  background-color: #00cc00;
  color: #ffffff;
  border: none;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0 0.2em gray;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.create-task-button:hover {
  background-color: #009900;
}

.create-task-button:active {
  box-shadow: none;
  position: relative;
  top: 0.2em;
}

.add-course-button {
  width: 100%;
  height: 100%;
  background-color: #cf7c00;
  color: #ffffff;
  border: none;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: background-color 0.3s ease;
  padding-left: 10px;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  box-shadow: 0 0.2em gray;
}

.hover-panel:hover .add-course-button {
  background-color: #cf7c00;
}

.add-course-button:active {
  box-shadow: none;
  position: relative;
  top: 0.2em;
}

.settings-button {
  background-color: transparent;
  border: none;
}

#gearImage {
  width: 80%;
  margin: 0;
  padding: 0;
  filter: invert(50%);
  transition: transform 0.8s ease, position 0.8s ease, top 0.2s ease;
  position: relative;
  top: 0;
}

#gearImage:hover {
  animation: spin 2s 1 linear;
}

#gearImage:active {
  top: 3px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.Courses {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  max-height: 100%;
  overflow-y: auto;
}

.course-box {
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 30%;
  height: 10%;
  box-shadow: 0 2px 4px rgba(207, 124, 0, 0.3);
  margin: 2% 0 2% 2%;
  flex-wrap: wrap;
  transition: all 0.3s ease;
  gap: 4%;
  font-size: calc(1.2vw + 1.2vh);
}

.course-box:hover {
  transform: translateY(-5px); /* Move the box up by 5px */
  box-shadow: 0 4px 8px rgba(207, 124, 0, 0.4); /* Increase the shadow */
}

.course-color-box {
  width: 8%;
  height: 100%;
  background-color: #777; /* Default color, will be overridden by JavaScript */
}

.course-name-box {
  color: #777;
  width: 75%;
  margin: 1%;
  font-size: calc(0.5vw + 0.5vh);
  overflow: hidden;
}

.CourseDeleteWindow {
  display: none;
  position: absolute; /* Added this line */
  bottom: 0; /* Added this line */
  width: 100%; /* Added this line */
}

.course-box.clicked .CourseDeleteWindow {
  display: flex;
  justify-content: flex-end;
}

#delete-course-button {
  width: 24%;
  max-width: 70px;
  max-height: 20px;
  justify-content: center;
  display: flex;
  align-items: center;
  border: none;
  font-size: calc(0.5vw + 0.5vh);
  padding: 1.6%;
  margin: 1%;
  border: none;
  padding: 4%;
}

.Tasks {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  max-height: 100%;
  overflow-y: auto;
}

.task-title-box {
  font-size: calc(0.6vw + 0.6vh);
  width: 100%;
  margin-top: 2%;
}

.task-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 30%;
  height: 10%;
  box-shadow: 0 2px 4px rgba(46, 139, 87, 0.4);
  margin: 2% 0 2% 2%;
  transition: all 0.3s ease;
  flex-wrap: wrap;
}

.task-box.due-today {
  box-shadow: 0 2px 4px rgba(225, 151, 10, 0.4);
}

.task-box.overdue {
  box-shadow: 0 2px 4px rgba(192, 12, 12, 0.4);
}

.task-color {
  width: 5%;
  height: 100%;
  margin-right: 2%;
}

.text-box {
  height: 100%;
  width: 65%;
  display: flex;
  flex-direction: column;
  margin-right: 2%;
}

.expanded {
  height: 30%;
}

.task-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(46, 139, 87, 0.3);
}

.due-today:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(225, 151, 10, 0.3);
}

.overdue:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(192, 12, 12, 0.3);
}

.task-date-box,
.task-subject-box,
.task-title-box {
  overflow: hidden;
}

.task-date-box {
  color: #2E8B57;
  font-size: calc(0.5vw + 0.5vh);
  justify-content: right;
  display: flex;
  width: 19%;
  margin-top: 2%;
}

.task-subject-box {
  color: #777;
  width: 100%;
  font-size: calc(0.4vw + 0.4vh);
  margin-top: 2%;
}

.task-description-box,
.task-button-box {
  display: none;
}

.task-description-box {
  width: 98%;
  height: 40%;
  margin: 1%;
  font-size: calc(0.5vw + 0.5vh);
  border: 1px solid #777;
  overflow-wrap: anywhere;
}

.task-button-box {
  width: 98%;
  background-color: #2E8B57;
  color: #ffffff;
  border: none;
  font-size: calc(0.5vw + 0.5vh);
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 1%;
  padding: 2%;
  justify-content: center;
  align-items: center;
}

#tasksOverlay {
  display: none;
  position: absolute;
  width: 600px;
  height: 300px;
  z-index: 10;
  box-sizing: border-box;
  flex-direction: row;
  background-color: #e7e7e7;
}

#tasksOverlayLeft {
  width: 5%;
  height: 100%;
}

#tasksColumn {
  width: 95%;
  height: 100%;
  margin-left: 2%;
  display: flex;
  flex-direction: column;
}

#taskTitle {
  width: 90%;
  height: 10%;
  font-size: 20px;
  display: flex;
  align-items: center;
  margin-top: 2%;
}

#taskOverlayOrganization {
  display: flex;
  margin-top: 2%;
  height: 8%;
}

#taskSubject, #taskDate {
  display: inline-block;
  width: 40%;
}

#taskSubject {
  margin-right: 10%;
}

#taskDescription {
  border: 1px solid #000;
  padding: 10px;
  margin: 10px 0;
  margin-top: 2%;
  width: 90%;
  height: 42%;
  resize: none;
}

#taskOverlayButtons {
  display: flex;
  height: 40%;
  justify-content: flex-end;
  align-items: flex-end;
}

#discardButton, #saveButton, #completeButton {
  height: 35%;
  background-color: #2E8B57;
  color: white;
  border: none;
  padding: 10px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

#discardButton:hover, #saveButton:hover, #completeButton:hover {
  background-color: #006e30;
  color: white;
}

#discardButton:active, #saveButton:active, #completeButton:active {
  background-color: gray;
  color: white;
}

.AddCourseWindow {
  position: relative;
  width: 15%;
  height: 15%;
  min-height: 145px;
  min-width: 280px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  z-index: 10;
  display: none;
  grid-template-rows: 9% 11% 11% 20% 9%;
  grid-template-columns: 1fr;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: flex-start;
  border-radius: 3px;
  gap: 8%;
}

.Course-AddTask-Element {
  width: 100%;
  height: 25%;
  margin: 0;
  background-color: #cf7c00;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 3px 0 0 0;
  display: flex;
  align-items: center;
  position: inherit;
}

.course-button {
  padding: 2.5% 5.5%;
  height: 85%;
  font-size: 100%;
  cursor: pointer;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
  transition: background-color 0.3s;
  vertical-align: middle;
  align-items: center;
  align-content: center;
  position: inherit;
  display: grid;
}

.course-button:hover {
  background-color: #e8e8e8;
}

.course-input {
  width: 100%;
  display: flex;
  margin: 1%;
  justify-content: space-between;
}

.course-buttons {
  width: 100%;
  display: flex;
  gap: 5%;
  margin: 1%;
  justify-content: flex-end;
}

.couse-title {
  margin: 1%;
}

#course-name {
  width: 50%;
}

#course-color {
  left: 0;
}

.AddTaskWindow {
  position: relative;
  width: 30%;
  height: 50%;
  min-height: 400px;
  min-width: 280px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  z-index: 10;
  display: grid;
  grid-template-rows: 9% 11% 11% 20% 9%;
  grid-template-columns: 1fr;
  overflow: auto;
  gap: 8%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
}

.Title-AddTask {
  width: 100%;
  height: 100%;
  background-color: #2E8B57;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  position: inherit;
}

.Title-AddTask-Element {
  font-size: 130%;
  position: inherit;
  left: 5%;
}

.DueDate_Subject_AddSubject {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.DueDate_Subject_AddSubject input[type=date],
.DueDate_Subject_AddSubject select {
  width: 80%;
  height: 57%;
  border: 1px solid #ccc;
  border-radius: 0;
  padding: 5px;
  box-sizing: border-box;
}

.DueDate_Subject_AddSubject .DueDate,
.DueDate_Subject_AddSubject .Subject {
  width: 48%;
  margin: 0 5%;
}

.NewTaskText {
  font-size: 100%;
  height: 34%;
  margin: 1%;
  color: #686868;
}

.AddTitle {
  height: 100%;
  width: 100%;
}

.task-title {
  width: 90%;
  height: 60%;
  margin: 0 5%;
}

#Title-Text {
  margin: 0 5%;
}

.Add_Description {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#task-Description {
  width: 90%;
  height: 100%;
  margin: 0 5%;
  border: 1px solid #686868;
  border-radius: 0;
  padding: 5px;
  box-sizing: border-box;
  resize: none;
}

#Description-Text {
  margin: 0 5%;
}

.DiscardAndSave {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 4%;
  padding: 0 5%;
}

.task-button {
  padding: 2.5% 5.5%;
  height: 85%;
  font-size: 100%;
  cursor: pointer;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
  transition: background-color 0.3s;
  vertical-align: middle;
  align-items: center;
  align-content: center;
  position: inherit;
  display: grid;
}

.task-button:hover {
  background-color: #e8e8e8;
}

#settingsBox {
  height: 8%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  position: absolute;
  overflow: hidden;
}

#settingsGearBox {
  width: 30%;
  height: 100%;
}

#settingsOverlay {
  display: none;
  position: absolute;
  width: 600px;
  height: 340px;
  background-color: #c3c3c3;
  z-index: 1;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
  flex-direction: row;
}

#leftSettingsColumn {
  width: 25%;
}

#rightSettingsColumn {
  width: 75%;
  border-left: inset;
}

.settingsOption {
  width: 70%;
  height: 10%;
  margin: 4% 0 4% 0;
  border-radius: 0;
  border: none;
  color: black;
  transition-duration: 0.4s;
}

.settingsOption:hover {
  background-color: #2E8B57;
  color: white;
}

.settingsOption.active {
  width: 85%;
  background-color: #2E8B57;
  color: white;
}

#closeButtonSection {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  right: 1%;
  top: 1%;
}

#closeButton {
  font-size: 30px;
  margin: 2% 4% 0 0;
  cursor: pointer;
  color: white;
  width: auto;
  display: flex;
  height: 37px;
  align-items: center;
  transition: color 0.3s ease;
}

#closeButton:hover {
  color: rgb(167, 0, 0);
}

#profilePage {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#settingsHeader {
  font-size: 150%;
  width: 99%;
  right: -1%;
  position: relative;
}

#profileContent {
  width: 99%;
  margin-left: 1%;
  height: 80%;
  font-size: 120%;
}

#clearCacheContainer {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

#clearCache {
  height: 45%;
  margin-bottom: 2%;
  border-radius: 0;
  background-color: #2E8B57;
  color: #fff;
  margin-right: 2%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#filterPage {
  display: none;
}

#backgroundPage {
  display: none;
}

#colorSchemePage {
  display: none;
}

#suggestionContainer {
  width: 30%;
  height: 100%;
}

#suggestionBox {
  background-color: transparent;
  border: none;
}

#mailBoxImage {
  width: 80%;
  margin: 0;
  padding: 0;
  transition: filter 0.8s ease, top 0.2s ease;
  position: relative;
  top: 0;
}

#mailBoxImage:hover {
  filter: grayscale(100%) sepia(100%) hue-rotate(90deg) saturate(200%);
}

#mailBoxImage:active {
  top: 3px;
}

#suggestionOverlay {
  display: none;
  position: absolute;
  width: 300px;
  height: 140px;
  background-color: #343434;
  z-index: 1;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
  flex-direction: column;
}

#suggestionTitle {
  height: 15%;
  margin-left: 2%;
  font-size: 100%;
  color: #2E8B57;
}

#suggestionDescription {
  height: 50%;
  width: 96%;
  resize: none;
  margin: 0 2% 2% 2%;
  background: #343434;
  color: #fff;
  outline: none;
}

#suggestionOverlayContainer {
  height: 16%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#suggestionType {
  height: 100%;
  margin-right: 5%;
  width: 36%;
  background: #2E8B57;
  color: #fff;
}

#submitSuggestion {
  height: 100%;
  width: 22%;
  border: none;
  border-radius: 0;
  background-color: #2E8B57;
  color: #fff;
  margin-right: 2%;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#submitSuggestion:active {
  background-color: #747474;
}

.task-window {
  position: absolute;
  background: #e7e7e7;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 20% 80%;
  transition: grid-template-columns 0.5s ease;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  width: 70%;
  height: 80%;
  z-index: 1;
}

.Pages {
  background-color: #343434;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 5%;
  transition: width 0.5s;
}

.Title-Courses,
.Title-Tasks {
  position: relative;
}

.TitleText {
  height: calc(2vw + 2vh);
  overflow: hidden;
  width: 100%;
}

.Title-Courses p,
.Title-Tasks p {
  font-size: calc(2vw + 2vh);
  margin: 0 2% 0 2%;
  width: 96%;
}

.Title-Courses::after,
.Title-Tasks::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: black;
}

.right-content {
  width: 100%;
  height: 100%;
  display: grid;
  grid: "header" 10% "main" 85% "footer" 5%/1fr;
}

.Title-Courses {
  display: none;
}

.Courses {
  display: none;
}

.Course-Adder {
  display: none;
}

@media screen and (max-width: 1500px) {
  .task-window {
    width: 100%;
    height: 100%;
  }
}

/*# sourceMappingURL=styles.css.map */
