#settingsBox {
    height: 8%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    position: absolute;
    overflow: hidden;
}

#settingsGearBox {
    width: 30%;
    height: 100%;
}

#settingsOverlay {
    display: none;
    position: absolute;
    width: 600px;
    height: 340px;
    background-color: #c3c3c3;
    z-index: 1;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
    flex-direction: row;
}

#leftSettingsColumn {
    width: 25%;
    border: inset;
}

#rightSettingsColumn {
    width: 75%;
}

.settingsOption {
    width: 70%;
    height: 10%;
    margin: 4% 0 4% 0;
    border-radius: 0;
    border: none;
    color: black;
    transition-duration: 0.4s;
}

.settingsOption:hover {
    background-color: #2E8B57; 
    color: white;
  }

.settingsOption.active {
    width: 85%;
    background-color: #2E8B57; 
    color: white;
}

#closeButtonSection {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    right: 1%;
    top: 1%;
}

#closeButton {
    font-size: 30px;
    margin: 2% 4% 0 0;
    cursor: pointer;
    color: white;
    width: auto;
    display: flex;
    height: 37px;
    align-items: center;
    transition: color 0.3s ease;
}

#closeButton:hover {
    color: rgb(167, 0, 0);
}

#profilePage {
    display: flex;
}

#settingsHeader {
    font-size: 100%;
    width: 99%;
    right: -1%;
    position: relative;
}

#filterPage {
    display: none;
}

#backgroundPage {
    display: none;
}

#colorSchemePage {
    display: none;
}