#settingsBox {
    height: 8%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    position: absolute;
    overflow: hidden;
}

#settingsGearBox {
    width: 30%;
    height: 100%;
}

#settingsOverlay {
    display: none;
    position: absolute;
    width: 600px;
    height: 340px;
    background-color: #c3c3c3;
    z-index: 1;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
    flex-direction: row;
}

#leftSettingsColumn {
    width: 25%;
    background-color: #343434;
}

#rightSettingsColumn {
    width: 75%;
    background: #e7e7e7;
}

.settingsOption {
    width: 70%;
    height: 10%;
    margin: 4% 0 4% 0;
    border-radius: 0;
    border: none;
    color: black;
    transition-duration: 0.4s;
}

.settingsOption:hover {
    background-color: #2E8B57; 
    color: white;
  }

.settingsOption.active {
    width: 85%;
    background-color: #2E8B57; 
    color: white;
}

#closeButtonSection {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    z-index: 1;
    right: 1%;
    top: 1%;
}

#closeButton {
    font-size: 30px;
    margin: 2% 4% 0 0;
    cursor: pointer;
    color: #787878;
    width: auto;
    display: flex;
    height: 37px;
    align-items: center;
    transition: color 0.3s ease;
}

#closeButton:hover {
    color: rgb(167, 0, 0);
}

#profilePage {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#filterPage {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.filterSections {
    width: 100%;
}

#settingsHeader {
    font-size: 150%;
    width: 99%;
    right: -1%;
    position: relative;
}

.settiongsContent {
    width: 99%;
    margin-left: 1%;
    height: 80%;
    font-size: 120%;
}

#clearCacheContainer {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

#clearCache {
    height: 45%;
    margin-bottom: 2%;
    border-radius: 0;
    background-color: #2E8B57;
    color: #fff;
    margin-right: 2%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#filterPage {
    display: none;
}

#backgroundPage {
    display: none;
    flex-direction: column;
    height: 100%;
}

#backgroundContent {
    width: 99%;
    margin-left: 1%;
    height: 80%;
    font-size: 120%;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    align-content: space-between;
}

.backgroundOption {
    width: 100px;
    height: 70px;
    margin: 1%;
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 0.3s ease-in-out;
}

.backgroundOption:hover {
    transform: translateY(-5px);
}
  
.backgroundOption.selected {
    box-shadow: 5px 5px 5px black;
}

#color-gradient-background {
    width: 100%;
    height: 70px;
    display: flex;
    border: none;
    justify-content: flex-end;
    align-items: flex-end;
}

.switch-wrapper {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
    margin-right: 2%;
  }

  .switch {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .switch-label {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #e7e7e7;
    display: flex;
    transition: 0.4s;
    border: 2px solid #343434;
    box-shadow: 0 0 1px #343434;
    align-items: center;
  }

  .switch-label:before {
    position: relative;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    background-color: #343434;
    transition: 0.4s;
    display: flex;
    align-items: center;
  }

  .switch:checked + .switch-label {
    background-color: #2E8B57;
  }

  .switch:focus + .switch-label {
    box-shadow: 0 0 1px #2E8B57;
  }

  .switch:checked + .switch-label:before {
    transform: translateX(24px);
  }


#color1, #color2 {
    margin-right: 2%;
    width: 6%;
    height: 35%;
    border: 2px solid #343434;  /* Adding a border */
    border-radius: 3px; /* Rounded corners */
}
  

#colorSchemePage {
    display: none;
}