$background: #e7e7e7;

#suggestionContainer {
    width: 30%;
    height: 100%;
}

#suggestionBox {
    background-color: transparent;
    border: none;
}

#mailBoxImage {
    width: 80%;
    margin: 0;
    padding: 0;
    transition: filter 0.8s ease, top 0.2s ease;
    position: relative;
    top: 0;
}

#mailBoxImage:hover {
    filter: grayscale(100%) sepia(100%) hue-rotate(90deg) saturate(200%);
}

#mailBoxImage:active {
    top: 3px;
}

#suggestionOverlay {
    display: none;
    position: absolute;
    width: 300px;
    height: 140px;
    background-color: $background;
    z-index: 1;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
    flex-direction: column;
}

#suggestionTitle {
    height: 15%;
    margin-left: 2%;
    font-size: 100%;
    color: #343434;
}

#suggestionDescription {
    height: 50%;
    width: 96%;
    resize: none;
    margin: 0 2% 2% 2%;
    background: $background;
    color: #343434;
    outline: none; 
}

#suggestionOverlayContainer {
    height: 16%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#suggestionType {
    height: 100%;
    margin-right: 5%;
    width: 36%;
    background: #fff;
    color: #343434;
}

#submitSuggestion {
    height: 100%;
    width: 22%;
    border: none;
    border-radius: 0;
    background-color: #2E8B57;
    color: #fff;
    margin-right: 2%;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#submitSuggestion:active {
    background-color: #747474;
}