.task-window {
  background: #e7e7e7;
  display: grid;
   grid-template-rows: 1fr;
   grid-template-columns: 20% 80%;
   transition: grid-template-columns 0.5s ease;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  width: 70%;
  height: 80%;
  z-index: 1;
}

.Pages {
  background-color: #343434;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 5%;
  transition: width 0.5s;
}

.Title-Tasks,
.Title-Courses {
  position: relative;
}

.Title-Tasks p,
.Title-Courses p {
  font-size: 300%;
  margin: 0;
}

.Title-Tasks::after,
.Title-Courses::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: black;
}

.right-content {
  width: 100%;
  height: 100%;

display: grid;
grid:
  "header" 10%
  "main" 85%
  "footer" 5%
  / 1fr;
}

.Title-Courses {
  display: none;
}

.Courses {
  display: none;
}

.Course-Adder {
  display: none;
}


@media screen and (max-width: 1500px) {
  .task-window {
    width: 100%;
    height: 100%;
  }
}
