.Tasks {
  display: flex;
  flex-wrap: wrap;
  max-height: 100%;
  overflow-y: auto;
}

.task-title-box {
  font-size: 100%;
  margin: 3% 0 0 3%;
}

.task-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  height: 10%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: 2% 0 2% 2%;
  min-height: 10%;
}

.task-date-box {

}

.task-subject-box {

}


.task-description-box {

}

.task-button-box {

}
