.Tasks {
  display: flex;
  max-height: 68vh;
  overflow-y: scroll;
  flex-direction: column;
}

.Tasks::-webkit-scrollbar {
  width: 10px;
}

.Tasks::-webkit-scrollbar-track {
  background: #e7e7e7;
}

.Tasks::-webkit-scrollbar-thumb {
  background: #555;
}

.Tasks::-webkit-scrollbar-thumb:hover {
  background: #888;
}



.task-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  align-items: flex-start;  
  width: 100%; 
  margin-top: 2%;
}

.task-section h2 {
  margin: 0 0 10px 3%;
  color: #343434;
  width: 97%;
}

.dueUnderline {
  width: 97%;
  color: #787878;
  border: 1px solid #787878;
  position: relative;
  margin: 1% 0 0;
}

.task-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;  
  align-items: flex-start;  
  margin-bottom: 4%;
}

.task-title-box {
  font-size: calc(.6vw + .6vh);
  width: 100%;
  margin-top: 2%;
}

.task-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 30%;
  min-height: 50px; 
  box-shadow: 0 2px 4px rgba(46, 139, 87, 0.4);
  margin: 2% 0 2% 2%;
  transition: all 0.3s ease;
}

.task-box.due-today {
  box-shadow: 0 2px 4px #e1970a66;
}

.task-box.overdue {
  box-shadow: 0 2px 4px #c00c0c66;
}

.task-color {
  width: 5%;
  margin-right: 2%;
}

.text-box {
  height: 100%;
  width: 65%;
  display: flex;
  flex-direction: column;
  margin-right: 2%;
}

.expanded {
    height: 30%;
}

.task-box:hover {
  transform: translateY(-5px); 
  box-shadow: 0 4px 8px rgba(#2E8B57, 0.3);  
}

.due-today:hover {
  transform: translateY(-5px); 
  box-shadow: 0 4px 8px rgba(#e1970a66, 0.3);  
}

.overdue:hover {
  transform: translateY(-5px); 
  box-shadow: 0 4px 8px rgba(#c00c0c66, 0.3);  
}

.task-date-box,
.task-subject-box,
.task-title-box {
  overflow: hidden;
}

.task-date-box {
  color: #2E8B57;
  font-size: calc(.5vw + .5vh);
  justify-content: right;
  display: flex;
  width: 19%;
  margin-top: 2%;
}

.task-subject-box {
  color: #777;
  width: 100%;
  font-size: calc(.4vw + .4vh);
  margin-top: 2%;
}

.task-description-box,
.task-button-box {
  display: none;
}

.task-description-box {
  width: 98%;
  height: 40%;
  margin: 1%;
  font-size: calc(.5vw + .5vh);
  border: 1px solid #777;
  overflow-wrap: anywhere;
}

.task-button-box {
  width: 98%;
  background-color: #2E8B57;
  color: #ffffff;
  border: none;
  font-size: calc(.5vw + .5vh);
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 1%;
  padding: 2%;
  justify-content: center;
  align-items: center;
}

#tasksOverlay {
  display: none;
  position: absolute;
  width: 600px;
  height: 300px;
  z-index: 10;
  box-sizing: border-box;
  flex-direction: row;
  background-color: #e7e7e7;
}

#tasksOverlayLeft {
  width: 5%;
  height: 100%;
}

#tasksColumn {
  width: 95%;
  height: 100%;
  margin-left: 2%;
  display: flex;
  flex-direction: column;
}

#overdue {
  display: none;
}

#taskTitle {
  width: 90%;
  height: 10%;
  font-size: 20px;
  display: flex;
  align-items: center;
  margin-top: 2%;
}

#taskOverlayOrganization {
  display: flex;
  margin-top: 2%;
  height: 8%;
}

#taskSubject, #taskDate {
  display: inline-block;
  width: 40%;
}

#taskSubject {
  margin-right: 10%;
}

#taskDescription {
  border: 1px solid #000;
  padding: 10px;
  margin: 10px 0;
  margin-top: 2%;
  width: 90%;
  height: 42%;
  resize: none;
}

#taskOverlayButtons {
  display: flex;
  height: 40%;
  justify-content: flex-end;
  align-items: flex-end;
}

#discardButton, #saveButton, #completeButton {
  height: 35%;
  background-color: #2E8B57; 
  color: white; 
  border: none; 
  padding: 10px 24px; 
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none; 
  display: inline-block;
  font-size: 16px; 
  margin: 2px 2px; 
  transition-duration: 0.4s; 
  cursor: pointer; 
}

#discardButton:hover, #saveButton:hover, #completeButton:hover {
  background-color: #006e30; 
  color: white; 
}

#discardButton:active, #saveButton:active, #completeButton:active {
  background-color: gray;
  color: white; 
}